
    <% if !@errors.nil? %>
    <div class="alert alert-danger">
      <label class="rails-bootstrap-forms-error-summary col-xlg-offset-3 col-xlg-6"><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
        <ul>
          <% @errors.full_messages.each do |msg| %>
            <li><strong><%= "#{msg}" %></strong></li>
          <% end %>
        </ul>
      </div>
    <% end %>


  <%= form_for(@pin, multipart: true, :html => {:class => 'col-xlg-8 form-horizontal'}) do |f| %>


  <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="form-group">
        <label for="pin_title" class="control-label  col-xlg-2">Title</label>
        <div class="col-xlg-8">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="form-group">
        <label for="pin_category_id" class="control-label col-xlg-2">Category</label>
        <div class="col-xlg-8">
          <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        </div>
      </div>

      <div class="form-group">
        <label for="pin_image" class="control-label col-xlg-2">Image</label>
        <div class="col-xlg-8">
          <%= f.file_field :image  %>
        </div>
      </div>

      <div class="form-group">
        <label for="pin_url" class="control-label col-xlg-2">Web Address</label>
        <div class="col-xlg-8">
          <%= f.url_field(:url, options={}) %>
        </div>
      </div>

      <div class="form-group">
        <label for="pin_slug" class="control-label col-xlg-2">Web short text</label>
          <div class="col-xlg-8">
            <%= f.text_field :slug %>
          </div>
      </div>

      <div class="form-group">
        <label for="pin_text" class="control-label col-xlg-2">Description</label>
          <div class=" col-xlg-8">
            <%= f.text_field :text %>
          </div>
      </div>

      <div class="form-group">
        <div class=" col-xlg-8">
          <%= p.label Which board? %>
        
          <%= f.fields_for :pinnings do |p| %>
          <%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
          <%= p.hidden_field :user_id, value: current_user.id %>
          <% end %>
        </div>
      </div>

      <div class="col-xlg-12">
        <%= f.submit "     PIN IT        " %>
      </div>

  <% end %>
