<form class="form-horizontal" role="form">
  <div class="form-group">



    <% if !@errors.nil? %>
  <div class="error">
    <label class="col-lg-offset-3 col-lg-6"><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><strong><%= "#{msg}" %></strong></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-horizontal">
  <%= form_for @pin do |f| %>

    <div class="form-group">
    <label for="pin_title" class="col-lg-1">Title</label>
    <div class="col-lg-11">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="form-group">
    <label for="pin_category_id" class="col-lg-1">Category</label>
    <div class="col-lg-11">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group">
    <label for="pin_url" class="col-lg-1">Web Address</label>
    <div class="col-lg-11">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="form-group">
    <label for="pin_slug" class="col-lg-1">Web short text</label>
    <div class="col-lg-11">
      <%= f.text_field :slug %>
    </div>
  </div>

  <div class="form-group">
    <label for="pin_text" class="col-lg-1">Description</label>
    <div class="col-lg-11">
      <%= f.text_field :text %>
    </div>
  </div>

  <div class="col-lg-offset-1">
    <%= f.submit "     PIN IT        "%>
  </div>
</div>
<% end %>
