
  <hr/>
  <h1>
    <% if @board %>
  <%= "#{@board.board.name}" %>
  <% end %>
</h1>
<hr/>
  <h1>
    <i class="fa fa-laptop"></i>
    <span style="font-variant: small-caps"><%= "#{@pin.title}" %></span>
  </h1>
</div>

<div class="show-pin">
  <% if @pin %>
    <img src="<%= @pin.image.url(:medium) %>">
  <% end %>

  <p class="header"><%= "#{@pin.text}" %></p>

  <hr/>
  <p>

    <b>Visit <%= "#{@pin.title}" %> at: </b>

    <%= link_to "#{@pin.url}", "#{@pin.url}",html_options={target: "_blank"} %>
  </p>
  </div>
  <div class="repin">
  <%= render partial: "shared/repin_form" , locals: {pin: @pin} %>
  <%= @pin.pinnings.inspect %>
  </div>
  <div>
  <p>
  <%= "This pin has been pinned by..." %>
  <br>

  <%  @users.each  do |user| %>
  <%= "#{user.first_name} #{user.last_name}," %>
  <% end %>
  </p>
</div>
