<% if !@errors.nil? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2>Access Denied</h2>
    <ul>
      <li><%= @errors %></li>
    </ul>
  </div>
<% end %>

<div class="header">
  <h1>Login</h1>
</div>


  <%= form_tag '/login' %>

<div class="form-group">
  <div class="field col-xlg-8">
    <%= email_field_tag 'email', 'email@' %>
  </div>

  <div class="field col-xlg-8">
    <%= password_field_tag 'password', 'Password' %>
  </div>

  <div class="field col-xlg-8">
    <%= submit_tag(value='Submit') %>
  </div>
</div>
