<div class="header">
  <h1><%= "#{@board.name}" %></h1>

</div>
<hr/>
<%= render partial: "shared/pins_list" %>

<hr/>
<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= @board.user %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
